body {
  padding-top: 56px;
  max-width:'1100px';
  margin:10px auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

font-weight: 400;
line-height: 1.5;

text-align: left;
}
.bd-example {
    
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    border-top: 1px solid rgba(0,0,0,.1);
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.post-preview > a > .post-title {
    font-size: 20px;
}
.post-preview > a > .post-title {
    font-size: 20px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}
small.text-muted {
  font-family:courier,courier-new,monospace;
}
.post-meta { padding-top :12px;color: #212529;}

details.warning {
    border-left-color: #ff9100;
}
footer {
    padding: 10px 0 65px;
}
.block-text p, .block-text {
    font-size: 17px;
    line-height: 1.6;
}

.bd-callout {
    padding: 1.55rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: #f0ad4e;
}
.h1, h1 {
    font-size: 1.5rem;
}

blockquote {
    background-color: rgba(255,229,100,0.3);
    border-left-color: #ffe564;
    border-left-width: 9px;
    border-left-style: solid;
    padding: 20px 45px 20px 26px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: -12px;
    margin-right: -12px;
}


